body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  padding: 5rem;
}
.product-item {
  margin-bottom: .5rem;
  width: 350px;
  &:last-child {
    margin-bottom: 0;
  }

  &-name {
    min-width: 100px;
    text-align: center;
  }
}

//Add-product form styles
.add-new-product-block {
  max-width: 150px;
  margin-bottom: 20px;
}
